/*=====================================
    GOOGLE FONT
======================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*=====================================
    VARIABLES
======================================*/

:root{

    --primary:#2563EB;
    --primary-dark:#1D4ED8;
    --background:#EEF2F7;
    --card:#FFFFFF;
    --text:#1F2937;
    --gray:#6B7280;
    --border:#E5E7EB;

    --radius:18px;

    --shadow:
        0 8px 20px rgba(0,0,0,.08);

}

/*=====================================
    RESET
======================================*/

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:'Poppins',sans-serif;

    background:var(--background);

    color:var(--text);

    line-height:1.6;

}

/*=====================================
    CONTENEDOR
======================================*/

.container{

    width:90%;

    max-width:1050px;

    margin:40px auto;

}

/*=====================================
    HEADER
======================================*/

.header{

    display:grid;

    grid-template-columns:220px 1fr;

    gap:30px;

    margin-bottom:30px;

}

.photo{

    background:var(--card);

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:25px;

}

.photo img{

    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid var(--primary);

}

.personal{

    background:var(--card);

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    padding:30px;

}

.personal h2{

    color:var(--primary);

    margin-bottom:20px;

    font-size:28px;

}

.personal p{

    margin-bottom:10px;

}

.personal strong{

    color:var(--primary-dark);

}

/*=====================================
    TARJETAS
======================================*/

.card{

    background:var(--card);

    border-radius:var(--radius);

    box-shadow:var(--shadow);

    padding:30px;

    margin-bottom:30px;

    transition:.30s;

}

.card:hover{

    transform:translateY(-6px);

}

.card h2{

    color:var(--primary);

    margin-bottom:20px;

    border-left:6px solid var(--primary);

    padding-left:12px;

}

/*=====================================
    PERFIL
======================================*/

.perfil p{

    text-align:justify;

}

/*=====================================
    ESTUDIOS
======================================*/

.estudios{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}

.estudios h3{

    margin-top:10px;

    color:var(--primary-dark);

}

.estudios span{

    display:inline-block;

    margin-top:10px;

    color:var(--background);

    font-size:14px;

}